@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 86%);
  font-family: "Poppins", sans-serif;
}

section {
  background-color: white;
  width: 840px;
  height: 651px;
  padding: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px 25px 420px 25px;
}
section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .container .dateContainer {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid hsl(0, 0%, 86%);
}
section .container .dateContainer div {
  display: flex;
  flex-direction: column;
  margin-right: 42px;
  color: hsl(0, 100%, 67%);
}
section .container .dateContainer div label {
  text-transform: uppercase;
  color: hsl(0, 1%, 44%);
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 10px;
}
section .container .dateContainer div input[type=text] {
  width: 160px;
  height: 48px;
  padding: 10px 20px;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
}
section .container .dateContainer div input[type=text]::placeholder {
  color: hsl(0, 0%, 86%);
}
section .container .dateContainer div input[type=text]:focus {
  border-color: hsl(259, 100%, 65%);
  outline: none;
}
section .container .dateContainer button {
  position: absolute;
  top: 100%;
  right: 50px;
  transform: translate(50%, -50%);
  padding: 32px;
  background-color: hsl(259, 100%, 65%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
section .container .dateContainer button:hover {
  transition: 0.8s;
  background-color: black;
}
section .container .dateContainer button img {
  width: 44px;
  height: 44px;
  vertical-align: middle;
}
section .container .dateRender {
  width: 100%;
}
section .container .dateRender p {
  font-size: 5.2rem;
  margin: 20px auto auto auto;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
section .container .dateRender p span {
  font-size: 4rem;
  font-weight: 800;
  color: hsl(259, 100%, 65%);
  margin: 0 10px;
  padding: 12px;
}

.focused {
  border-color: hsl(0, 100%, 67%) !important;
  outline: none;
}

@media (max-width: 375px) {
  section {
    width: 100%;
    height: auto;
    padding: 20px;
    box-shadow: none;
    border-radius: 25px;
  }
  section .container .dateContainer {
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  section .container .dateContainer div {
    margin-right: 5px;
    margin-bottom: 0;
  }
  section .container .dateContainer div input[type=text] {
    width: 80px;
    height: 40px;
    font-size: 1.5rem;
  }
  section .container .dateContainer div label {
    font-size: 0.9rem;
  }
  section .container .dateContainer button {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(50%, -50%);
    padding: 28px;
    background-color: hsl(259, 100%, 65%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  section .container .dateContainer button button:hover {
    transition: 0.6s;
    background-color: black;
  }
  section .container .dateContainer button img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
  section .container .dateRender p {
    font-size: 1.5rem;
  }
  section .container .dateRender p span {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
